/* Prime Categories to style */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(4, 14, 39);
  font-family: "Arimo", sans-serif;
  color: rgb(255, 255, 255);
}

/*        Header   */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 39, 87);
  height: 80px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: rgb(108, 61, 234);
  font-size: 1.2rem;
}

.left {
  font-size: 1.5rem;
}

/****************           Main   *******************************/

.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
  align-items: center;
}
.firstsection > div {
  width: 30%;
}

.leftsection {
  font-size: 3rem;
}

.leftsection .buttons {
  padding: 30px 0;
}

.leftsection .btn {
  padding: 12px;
  background-color: rgb(16 114 199);
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.leftsection button a {
  text-decoration: none;
  color: white;
}

.leftsection button:hover {
  color: rgb(61, 215, 226);
}

.leftsection button a:hover {
  color: rgb(61, 215, 226);
}

.rightsection {
  margin: 40px;
}
.rightsection img {
  height: 100%;
  width: 80%;
  border-radius: 100%;
}
.purple {
  color: rgb(170, 0, 255);
}

#element {
  color: rgb(170, 0, 255);
}

main hr {
  border: 0;
  background: #6c8cd3;
  margin: 50px 80px;
  height: 1.4px;
}

/***********                           Second Section Start         *******************/
.secondsection {
  height: 50vh;
  max-width: 80vw;
  margin: auto;
}

.secondsection .container {
  height: 100%;
  width: auto;
  background: rgb(13, 133, 154);
  margin: auto;
  border-radius: 10px;
}
.secondsection h1 {
  font-size: 1.9rem;
  margin: 50px 10px;
  padding-top: 10px;
}

.secondsection .box {
  background-color: white;
  height: 1px;
  width: 66vw;
  margin: 0px 201px;
  display: flex;
}

.secondsection img {
  width: 30px;
  position: relative;
  top: -36px;
  right: 14px;
}
.secondsection .verticle {
  background-color: white;
  width: 1px;
  height: 75px;
  margin: 0 100px;
}

.secondsection .skills {
  position: relative;
  top: 60px;
  right: 5px;
}

/***********                           Third Section Start         *******************/
.thirdsection {
  max-width: 80vw;
  height: 80vh;
  margin: auto;
}
.thirdsection .container {
  height: 100%;
  width: auto;
  background: rgb(8, 67, 125);
  margin: auto;
  border-radius: 10px;
}
.thirdsection #education{
  margin: 50px 0;
  position: relative;
  top: 10px;
  left: 10px;
}

.thirdsection h1 {
  font-size: 1.9rem;
}
.thirdsection .box {
  height: 1px;
  width: 68vw;
  background: white;
  margin: 70px;
  display: flex;
}

.thirdsection .vertical {
  height: 91px;
  width: 1px;
  background: white;
  margin: 0px 96px;
}

.verticle-title {
  position: relative;
  top: 75px;
  width: 200px;
}

.verticle-desc {
  font-size: 10px;
  color: grey;
  position: relative;
  top: 86px;
  width: 140px;
}
/***********                           Footer                        *******************/

footer {
  background-color: rgba(34, 40, 43, 0.949);
  /* height: 30vh; */
}

.footer {
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
  padding: 20px 10px;
  /* align-items: center; */
}

.footer > div {
  width: 20px;
}
.footer ul {
  list-style: none;
}

.footer-rights {
  color: gray;
  text-align: center;
  padding: 12px 0;
}
